.contactFooter{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: olivedrab;
    height: 230px;
}

.footerInfo{
    background-color: olivedrab;
    width: 400px;
    margin-left: 30px;
}

.footertitle{
    background-color: olivedrab;
    margin-bottom: -15px;
    margin-left: 30px;
}

#ContactUs{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50vb;
    margin-left: 60px;
    height: 40vh;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 1px 3px olivedrab;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#infoSheet{
    width: 40vb;
    height: 40vh;
    box-shadow: 1px 3px olivedrab;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    overflow: scroll;
    overflow-x: hidden;
}

.contactsheet{
 margin: 5px;
 height: 30px;
 width: 200px;
 border: 1px solid olivedrab;
 font-family: 'Times New Roman', Times, serif;
 font-size: 20px;
}

.contactsheet2{
    margin: 5px;
    height: 100px;
    width: 415px;
    border: 1px solid olivedrab;
    text-align: start;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
} 

#sendEmailButton{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 5px;
    height: 40px;
    width: 70px;
    background-color: olivedrab;
    border: solid 3px whitesmoke;
    color: whitesmoke;
    cursor: pointer;
}

#departments, th, td{
    border: 1px solid olivedrab;
    border-collapse: collapse;
    height: 30px;
}