#titleContainer{
    display: flex;
    flex-direction: column;
}

#dogContainer{
    display: flex;
    flex-wrap: wrap;
}

#profileDogImg{
    height: 250px;
    margin: 20px;
    cursor: pointer;
}

#dogMainProfile{
    text-align: left;
}

#textBoxDog{
    margin-left: 30px;
    margin-top: -10px;
    font-size: 20px;
}

#lineSplit{
    border-bottom: 2px solid olivedrab;
    margin-top: 20px;
}

#adoptedProfile{
    text-align: center;
}

#adoptedDogImg{
    height: 400px;
}

#textBoxAdopted{
    text-align: left;
    font-size: 20px;
}

#dogBreedInfo{
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    width: 900px;
    }

#infoAboutBreed{
    padding: 20px;
    margin-left: 40px;
    margin-right: 70px;
}

.SearchBreed{
    width: 450px;
    height: 35px;
    border: none;
    border-bottom: 2px solid olivedrab;
}

#BreedInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AdoptableDogButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}