* {
    background-color: lightgoldenrodyellow;
   
}

#logoContainer{
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

#logoMain{
    height: 200px;
    width: 250px;
}

#searchBarContainer{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: olivedrab;
    margin: 20px;
    margin-left: -10px;
    margin-bottom: 5px;
    width: 100%;
}

#mainSearch{
    width: 450px;
    height: 25px;
    border: none;
    border-bottom: 2px solid;
}

#searchButton{
    height: 25px;
    cursor: pointer;
    margin-left: 5px;
}

#mainButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainButton{
padding: 10px;
margin: 10px;
margin-top: 5px;
cursor: pointer;
border: none;
background-color: olivedrab;
border-radius: 20px;
width: 250px;
height: fit-content;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: large;
}

.activeButton{
    background-color: darkolivegreen;
    padding: 10px;
    margin: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    width: 250px;
    height: fit-content;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: olivedrab;
    height: 40px;
}

#titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutUsContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 40vb;
    margin-left: 25px;
    height: 40vh;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 1px 3px olivedrab;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#topContainer{
    display: flex;
    padding: 10px;
    justify-content: center;
}

#bottomContainers{
    display: flex;
    padding: 10px;
    justify-content: center;
    margin-top: 30px;
}

#frontPageImg{
    height: 600px;
    margin-left: 25px;
}
 
#aboutPageContainer{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 40vb;
    height: 20vh;
    margin-left: 400px;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 1px 3px olivedrab;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}